<%= form_for(@user ,:html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div> 

  <%= fields_for (@user.user_attribute) do |user_attribute| %>
    <div class="field">
        <%= user_attribute.label :street %><br />
        <%= user_attribute.text_field :street %>
    </div>

    <div class="field">
       <%= user_attribute.label :city %><br />
       <%= user_attribute.text_field :city %>
    </div>

    <div class="field">
       <%= user_attribute.label :state %><br />
       <%= user_attribute.text_field :state %>
    </div>

    <div class="field">
        <%= user_attribute.label :street %><br />
        <%= user_attribute.text_field :street %>
    </div>

    <div class="field">
       <%= user_attribute.label :country %><br />
       <%= user_attribute.text_field :country %>
    </div>

    <div>
     <%= user_attribute.label 'Photo' %><br />
     <%= user_attribute.file_field :photo %>
   </div>

  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>